In [1]:
qpath = r'C:/Users/rgoix/DEV/quetzal/' # path to quetzal here
data = r'inputs/'
import sys
sys.path.append(qpath + r'quetzal/')

# import class
from quetzal.io.gtfs_reader import importer

### Read GTFS

In [2]:
feed = importer.GtfsImporter(path=data + r'madrid.zip', dist_units='m')
feed.clean()
feed.describe()

          indicator                               value
0          agencies  [Empresa Municipal de Transportes]
1  running_services                [LJ, LA, SA, VV, FE]
2          timezone                       Europe/Madrid
3        start_date                            20191210
4          end_date                            20201231
5        num_routes                                 215
6         num_trips                               79196
7         num_stops                                4724
8        num_shapes                                 426
9   num_frequencies                               78520

Frequency conversion currently work only for one specific service and date, and on one given time period.  
It computes the average headway over this time period.

### Restrict to one date and merge services

In [3]:
feed = feed.restrict(dates=['20191210'])
feed.group_services()

In [4]:
feed.describe()

          indicator                               value
0          agencies  [Empresa Municipal de Transportes]
1  running_services                                [LJ]
2          timezone                       Europe/Madrid
3        start_date                            20191210
4          end_date                            20191210
5        num_routes                                 210
6         num_trips                               35867
7         num_stops                                4715
8        num_shapes                                 420
9   num_frequencies                               35647

In [5]:
feed.map_routes(feed.routes.route_id.head())

### Build simplified patterns by clustering stops

In [6]:
feed.build_stop_clusters(distance_threshold=300)

In [7]:
feed.build_patterns(on='cluster_id')

In [8]:
feed.describe()

          indicator                               value
0          agencies  [Empresa Municipal de Transportes]
1  running_services                                [LJ]
2          timezone                       Europe/Madrid
3        start_date                            20191210
4          end_date                            20191210
5        num_routes                                 210
6         num_trips                               35867
7         num_stops                                4715
8        num_shapes                                 420
9   num_frequencies                               35647

### Convert to frequencies

In [9]:
time_range = ['08:00:00', '10:00:00']  # time format must be HH:MM:SS
feed_f = feed.convert_to_frequencies(time_range=time_range)

100%|████████████████████████████████████████████████████████████████████████████████| 364/364 [01:17<00:00, 12.26it/s]

In [10]:
feed_f.describe()

          indicator                               value
0          agencies  [Empresa Municipal de Transportes]
1  running_services                                [LJ]
2          timezone                       Europe/Madrid
3        start_date                            20191210
4          end_date                            20191210
5        num_routes                                 182
6         num_trips                                 364
7         num_stops                                4654
8        num_shapes                                 364
9   num_frequencies                                 364

### Build nodes and links

In [11]:
feed_f.build_links_and_nodes()

frequencies [] converted to string
shapes [] converted to string
_calendar_dates [] converted to string
stop_times [] converted to string
_trips [] converted to string
_trips_i [] converted to string
routes [] converted to string
stops [] converted to string
agency [] converted to string

In [12]:
feed_f.nodes.head(1).T

                                                                0
stop_id                                                         1
stop_code                                                       1
stop_name                 Avenida Valdemarín - Blanca De Castilla
stop_desc                                                     NaN
zone_id                                                       NaN
stop_url        http://www.emtmadrid.es/aplicaciones/Estimacio...
location_type                                                 NaN
parent_station                                                NaN
cluster_id                                                   1361
geometry               POINT (433633.7762230462 4480229.03047332)

In [13]:
feed_f.links.head(1).T

                                                                  0
index                                                             0
a                                                               273
trip_id                                                       001_0
link_sequence                                                     1
departure_time                                                28980
b                                                               716
arrival_time                                                  29049
time                                                             69
headway                                                         143
pattern_id                                                    001_0
route_id                                                        001
service_id                                                       LJ
trip_headsign                                            Cristo Rey
direction_id                                                      1
block_id                                                        NaN
shape_id                                                      001_B
agency_id                                                       EMT
route_short_name                                                  1
route_long_name                   Plaza de Cristo Rey - Prosperidad
route_desc                                                      NaN
route_type                                                        3
route_url         http://www.emtmadrid.es/aplicaciones/Itinerari...
route_color                                                  0178BC
route_text_color                                             FFFFFF
geometry          LINESTRING (442765.1708243213 4477229.69823448...